Source: libhttp-tiny-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: gregor herrmann <gregoa@debian.org>,
           Nick Morrott <knowledgejunkie@gmail.com>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 13)
Build-Depends-Indep: libhttp-cookiejar-perl <!nocheck>,
                     libio-socket-ip-perl <!nocheck>,
                     libio-socket-ssl-perl <!nocheck>,
                     libmozilla-ca-perl <!nocheck>,
                     libnet-ssleay-perl <!nocheck>,
                     perl
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libhttp-tiny-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libhttp-tiny-perl.git
Homepage: https://metacpan.org/release/HTTP-Tiny
Rules-Requires-Root: no

Package: libhttp-tiny-perl
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${perl:Depends}
Recommends: ca-certificates,
            libhttp-cookiejar-perl,
            libio-socket-ip-perl,
            libio-socket-ssl-perl,
            libnet-ssleay-perl
Description: Perl module that implements a small, simple, correct HTTP/1.1 client
 HTTP::Tiny is a very simple HTTP/1.1 client, designed primarily for doing
 simple GET requests without the overhead of a large framework like
 LWP::UserAgent.
 .
 It is more correct and more complete than HTTP::Lite. It supports proxies
 (currently only non-authenticating ones) and redirection. It also correctly
 resumes after EINTR.
